{% extends 'base.html' %}

{% block content %}

<div class="container py-4">
    <h1>{{ survey.title }}</h1>
    <div class="accordion" id="accordionUserSurvey">
        {% for user_survey in object_list %}
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                    data-bs-target="#{{ user_survey.pk }}" aria-expanded="true" aria-controls="{{ user_survey.pk }}">
                    {{ user_survey.create_at }}
                </button>
            </h2>
            <div id="{{ user_survey.pk }}" class="accordion-collapse collapse show"
                data-bs-parent="#accordionUserSurvey">
                <div class="accordion-body">
                    {% for reply in user_survey.replies.all %}
                        <p>
                            <mark>{{ reply.title }}</mark>
                            <br>
                            <small>{{ reply.content }}</small>
                        </p> 
                    {% endfor %}
                </div>
            </div>
        </div>
        {% endfor %}
        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center">
                {% if page_obj.has_previous %}
                    <li class="page-item"><a class="page-link" href="?page=1">&laquo; 처음으로</a></li>
                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">이전</a>
                    </li>
                {% endif %}
                {% for page_num in page_obj.paginator.page_range %}
                    {% if page_obj.number == page_num %}
                        <li class="page-item active">
                            {% else %}
                        <li class="page-item">
                    {% endif %}
                <a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a>
                </li>
                {% endfor %}
                {% if page_obj.has_next %}
                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">다음</a></li>
                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">마지막으로 &raquo;</a></li>
                {% endif %}
            </ul>
        </nav>
    </div>
</div>

{% endblock content %}