{% extends 'base.html' %}
{% block content %}
<div class="container py-4">
    <div class="container mt-2">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header bg-secondary text-white">
                        <h4>계정 정보</h4>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <form method="post">{% csrf_token %}
                                {{ form.as_p }}
                                <button type="submit" class="btn btn-light">변경하기</button>
                            </form>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}