{% extends 'accounts/base.html' %}
{# Load the tag library #}
{% load django_bootstrap5 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{% load static %}

{% block content %}
<section class="vh-100 gradient-custom">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card bg-dark text-white" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">
            <div class="mb-md-5 mt-md-4 pb-5">
                <h2 class="fw-bold mb-2 text-uppercase">비밀번호 찾기</h2>
                <p class="text-white-50 mb-5"></p>
               <div class="d-flex flex-column gap-3 mb-4">
  <button
    class="btn btn-outline-light btn-lg px-5 fs-5"
    type="button"
    onclick="window.location.href='{% url 'accounts:email_password_reset_request' %}'">
    이메일로 찾기
  </button>
</div>

</div>

<div class="mt-6">
  <p class="mb-0">
    <a href="{% url 'accounts:login' %}" class="text-white-50 fw-bold">로그인 화면으로</a>
  </p>
</div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock content %}