{% extends 'base.html' %}
{% block content %}
    {% include "styles/table.html" %}
    <div class="container mt-5">
        <!-- 검색 입력 -->
        <div class="mb-3">
            <label for="searchInput"></label>
            <input type="text" id="searchInput" class="form-control" placeholder="검색어를 입력하세요">
        </div>

        <!-- 사용자 테이블 -->
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">이름</th>
                    <th scope="col">이메일</th>
                    <th scope="col">나이</th>
                    <th scope="col">연구 상태</th>
                    <th scope="col">연구 시작일</th>
                    <th scope="col">연구 종료일</th>
                    <th scope="col">동기화 상태</th>
                    <th scope="col">노트
                    </th>
                    <th scope="col">액션</th> <!-- 새로운 열 추가 -->
                </tr>
                </thead>
                <tbody id="userTable">
                {% for user in users %}
                    <tr data-href="{% url 'accounts:userInfo' user.pk %}">
                        <td>{% if user.huami.name != None %}
                            {{ user.huami.name }}
                        {% else %}
                            {{ user.huami.full_name }}
                        {% endif %}
                        </td>
                        <td>{{ user.huami.email }}</td>
                        <td>30</td>
                        <td>{{ user.huami.get_research_status_display }}</td>
                        <td>{{ user.huami.join_date }}</td>
                        <td>{{ user.huami.end_date }}</td>
                        <td>
                            {% if user.huami.showed_sync_status %}
                                정상
                            {% else %}
                                비정상
                            {% endif %}
                        </td>
                        <td>{{ user.huami.note }}</td>
                        <td>
                            <a class="btn btn-primary" href="{% url 'survey:survey-list-admin' user.pk %}">설문결과보기</a>
                            <a class="btn btn-primary"
                               href="{% url 'accounts:user_survey_download' user.pk %}">설문결과다운로드</a>
                        </td> <!-- 버튼 추가 -->
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        {% include "components/page_navigation.html" %}
    </div>
    <script>
    // 행 클릭 이벤트 추가
    const tableRows = document.querySelectorAll('tbody tr[data-href]');
    tableRows.forEach(row => {
        row.addEventListener('click', () => {
            window.location.href = row.getAttribute('data-href');
        });
    });
    </script>
{% endblock content %}