{% extends 'base.html' %}
{% block content %}
    {% include "styles/table.html" %}
    <div class="container mt-5">
        <form method="GET"
              action="{% url 'accounts:userManage' %}?page=1&order_by={{ request.GET.order_by }}&direction={{ request.GET.direction }}"
              class="form-inline mb-3 w-100">
            <div class="input-group w-100">
                <input type="text" name="search" class="form-control" placeholder="이름이나 이메일을 입력하세요."
                       value="{{ request.GET.search }}">
                <input type="hidden" name="page" value="1">
                <input type="hidden" name="order_by" value="{{ request.GET.order_by }}">
                <input type="hidden" name="direction" value="{{ request.GET.direction }}">

                <div class="input-group-append">
                    <button type="submit" class="btn btn-primary">검색하기</button>
                </div>
            </div>
        </form>

        <!-- 사용자 테이블 -->
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">설문</th>
                    <th scope="col">건강 데이터</th>
                    <th scope="col" data-column="name">이름</th>
                    <th scope="col" data-column="age">나이</th>
                    <th scope="col" data-column="research_status">연구 상태</th>
                    <th scope="col" data-column="research_year">연구 년도 </th>
                    <th scope="col" data-column="pregnancy_start_date">임신 시작일</th>
                    <th scope="col" data-column="join_date">연구 시작일</th>
                    <th scope="col" data-column="end_date">연구 종료일</th>
                    <th scope="col" data-column="showed_sync_status">동기화 상태</th>
                    <th scope="col" data-column="email">이메일</th>
                    <th scope="col" data-column="note">노트</th>
                </tr>
                </thead>
                <tbody id="userTable">
                {% for user in users %}
                    <tr data-href="{% url 'accounts:userInfo' user.pk %}">
                        <td>
                            <a class="btn btn-primary" href="{% url 'survey:survey-list-admin' user.pk %}">설문결과보기</a>
                            <a class="btn btn-primary"
                               href="{% url 'accounts:user_survey_download' user.pk %}">설문결과다운로드</a>
                        </td>
                        <td>
                            <a class="btn btn-primary" href="{% url 'accounts:csvDownload' user.pk %}">CSV로 저장</a>
                        </td>
                        <td>{% if user.huami.name != None %}
                            {{ user.huami.name }}
                        {% elif user.huami.fullname %}
                            {{ user.huami.fullname }}
                        {% elif user.fitbit.full_name %}
                            {{ user.fitbit.full_name }}
                        {% endif %}
                        </td>
                        <td>{{ user.huami.age }}</td>
                        <td><select class="form-control research-status" data-user-id="{{ user.pk }}">
                            <option value="preparing"
                                    {% if user.huami.research_status == 'preparing' %}selected{% endif %}>준비
                            </option>
                            <option value="ongoing" {% if user.huami.research_status == 'ongoing' %}selected{% endif %}>
                                진행 중
                            </option>
                            <option value="completed"
                                    {% if user.huami.research_status == 'completed' %}selected{% endif %}>완료
                            </option>
                        </select></td>

                        <td><select class="form-control research-year" data-user-id="{{ user.pk }}" style="width: 75px;">
                            <option value="none"
                                    {% if user.huami.research_year == 'none' %}selected{% endif %}> 미확인
                            </option>
                            <option value="2023" {% if user.huami.research_year == '2023' %}selected{% endif %}>
                                2023년
                            </option>
                            <option value="2024"
                                    {% if user.huami.research_year == '2024' %}selected{% endif %}>2024년
                            </option>
                        </select></td>
                        <td>
                            <input type="date" class="form-control pregnancy_start_date"
                                   data-user-id="{{ user.pk }}"
                                   value="{{ user.huami.pregnancy_start_date|date:'Y-m-d' }}">
                        </td>
                        <td>
                            <input type="date" class="form-control start-date"
                                   data-user-id="{{ user.pk }}"
                                   value="{{ user.huami.join_date|date:'Y-m-d' }}">
                        </td>
                        <td>
                            <input type="date" class="form-control end-date"
                                   data-user-id="{{ user.pk }}"
                                   value="{{ user.huami.end_date|date:'Y-m-d' }}">
                        </td>
                        <td>
                            {% if user.huami.showed_sync_status %}
                                정상
                            {% else %}
                                비정상
                            {% endif %}
                        </td>
                        <td>
                            {% if user.huami.email %}
                                {{ user.huami.email }}
                            {% else %}
                                -
                            {% endif %}
                        </td>
                        <td>{{ user.huami.note }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        {% include "components/page_navigation.html" %}
    </div>
    <script>
        // 행 클릭 이벤트 추가
        const tableRows = document.querySelectorAll('tbody tr[data-href]');
        tableRows.forEach(row => {
            row.addEventListener('click', () => {
                window.location.href = row.getAttribute('data-href');
            });
        });

        document.addEventListener('DOMContentLoaded', function () {
            const headers = document.querySelectorAll('th[data-column]');
            headers.forEach(header => {
                header.addEventListener('click', function () {
                    const column = 'huami__' + this.getAttribute('data-column');
                    let direction = 'asc';

                    // Check the current sorting direction
                    const currentPage = new URLSearchParams(window.location.search).get('page');
                    const currentDirection = new URLSearchParams(window.location.search).get('direction');
                    const currentOrderBy = new URLSearchParams(window.location.search).get('order_by');
                    const currentSearch = new URLSearchParams(window.location.search).get('search');

                    if (currentOrderBy === column && currentDirection === 'asc') {
                        direction = 'desc';
                    }

                    // Redirect to the sorted URL
                    window.location.href = `?page=${1}&order_by=${column}&direction=${direction}&search=${currentSearch ? currentSearch : ''}`;
                });
            });
            
            const researchYearElements = document.querySelectorAll('.research-year');
            researchYearElements.forEach(element => {
                // 클릭 이벤트 전파 방지
                element.addEventListener('click', function (event) {
                    event.stopPropagation();
                });

                // 값이 변경될 때 AJAX 요청 보내기
                element.addEventListener('change', function () {
                    const userId = this.getAttribute('data-user-id');
                    const newYear = this.value;

                    fetch("{% url 'accounts:update_research_year' %}", {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                            'X-CSRFToken': '{{ csrf_token }}'
                        },
                        body: JSON.stringify({
                            user_id: userId,
                            new_year: newYear
                        })
                    })
                        .then(response => response.json())
                        .then(data => {
                            if (data.success) {
                                alert('연구 년도가 성공적으로 업데이트되었습니다.');
                            } else {
                                alert('연구 상태 업데이트에 실패했습니다.');
                            }
                        })
                        .catch(error => console.error('Error:', error));
                })
            })

            const researchStatusElements = document.querySelectorAll('.research-status');
            researchStatusElements.forEach(element => {
                // 클릭 이벤트 전파 방지
                element.addEventListener('click', function (event) {
                    event.stopPropagation();
                });

                // 값이 변경될 때 AJAX 요청 보내기
                element.addEventListener('change', function () {
                    const userId = this.getAttribute('data-user-id');
                    const newStatus = this.value;

                    fetch("{% url 'accounts:update_research_status' %}", {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                            'X-CSRFToken': '{{ csrf_token }}'
                        },
                        body: JSON.stringify({
                            user_id: userId,
                            new_status: newStatus
                        })
                    })
                        .then(response => response.json())
                        .then(data => {
                            if (data.success) {
                                alert('연구 상태가 성공적으로 업데이트되었습니다.');
                            } else {
                                alert('연구 상태 업데이트에 실패했습니다.');
                            }
                        })
                        .catch(error => console.error('Error:', error));
                })
            })

            const update_research_date = (element, dateType) => {
                element.addEventListener('click', function (event) {
                    event.stopPropagation();
                })

                element.addEventListener('change', function () {
                    const userId = this.getAttribute('data-user-id');
                    const newDate = this.value || null;

                    fetch("{% url 'accounts:update_research_date' %}", {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                            'X-CSRFToken': '{{ csrf_token }}'
                        },
                        body: JSON.stringify({
                            user_id: userId,
                            new_date: newDate,
                            date_type: dateType
                        })
                    }).then(response => response.json())
                        .then(data => {
                            if (data.success) {
                                alert('성공적으로 업데이트되었습니다.')
                            } else {
                                alert('변경에 실패했습니다.')
                            }
                        })
                        .catch(error => console.error('Error:', error));
                })
            }
    
            const pregnancyDateElements = document.querySelectorAll('.pregnancy_start_date');
            pregnancyDateElements.forEach(element => {
                update_research_date(element, 'pregnancy_start_date')
            })
            const startDateElements = document.querySelectorAll('.start-date');
            startDateElements.forEach(element => {
                update_research_date(element, 'join-date')
            })
            const endDateElements = document.querySelectorAll('.end-date');
            endDateElements.forEach(element => {
                update_research_date(element, 'end-date')
            })
        })

    </script>
{% endblock content %}