<!DOCTYPE html>

{% load django_bootstrap5 %}
{% load static %}

<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>PRECARE</title>

    {% bootstrap_css %}
    {% bootstrap_javascript %}

   <style>
    html, body {
        height: 100%;
        margin: 0;
        font-family: 'Paybooc', sans-serif;
        font-weight: 500;
    }

    body {
        display: flex;
        flex-direction: column;
    }

    main {
        flex: 1;
    }

    /* 입력창이나 버튼에도 폰트 통일 */
    button, input, select, textarea {
        font-family: 'Paybooc', sans-serif;
        font-weight: 500;
    }
</style>

</head>

<body>
    {% include 'header.html' %}

    <main>
        {% block content %}
        {% endblock %}
    </main>

    {% include 'footer.html' %}
</body>
</html>