<!DOCTYPE html>

{% load django_bootstrap5 %}
{% load static %}

<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>조기진통 감지 및 스트레스 완화</title>

    {% bootstrap_css %}
    {% bootstrap_javascript %}

   <style>
    html, body {
        height: 100%;
        margin: 0;
        font-family: 'Paybooc', sans-serif;
        font-weight: 500;
    }

    body {
        display: flex;
        flex-direction: column;
    }

    main {
        flex: 1;
    }

    /* 입력창이나 버튼에도 폰트 통일 */
    button, input, select, textarea {
        font-family: 'Paybooc', sans-serif;
        font-weight: 500;
    }
</style>

</head>

<script>
function getCookie(name) {
  let cookieValue = null;

  if (document.cookie && document.cookie !== "") {
    const cookies = document.cookie.split(";");

    for (let cookie of cookies) {
      cookie = cookie.trim();

      if (cookie.substring(0, name.length + 1) === name + "=") {
        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
        break;
      }
    }
  }

  return cookieValue;
}

function saveClickLog(logType) {
  fetch("{% url 'accounts:save_click_log' %}", {
    method: "POST",
    headers: {
      "Content-Type": "application/json",
      "X-CSRFToken": getCookie("csrftoken"),
    },
    body: JSON.stringify({
      log_type: logType,
    }),
  }).catch(error => {
    console.error("클릭 로그 저장 실패:", error);
  });
}
</script>

<body>
    {% include 'header.html' %}

    <main>
        {% block content %}
        {% endblock %}
    </main>

    {% include 'footer.html' %}
</body>
</html>