    <div style="height: 2px; background: linear-gradient(to right, transparent, #000000, transparent);color: transparent;">.</div>


<footer style="background-color: #FCE0D2; width: 100%; padding: 1rem 0;">
  <div style="max-width: 1140px; margin: 0 auto; text-align: center;">
    <p style="color: #5A4A42; font-size: 14px; letter-spacing: 1px; margin: 0;">
      <span style="margin-right: 20px;">© 2025 DAILAB</span>
      <span style="margin: 0 100px;">|</span>
      <span style="margin-right: 20px;">IRB 승인 연구 기반</span>
      <span style="margin: 0 100px;">|</span>
      <a href="mailto:luminous037@gmail.com" style="color: #5A4A42; text-decoration: none;">luminous037@gmail.com</a>
    </p>
  </div>
</footer>
