<!DOCTYPE html>

{# Load the tag library #}
{% load django_bootstrap5 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{% load static %}


<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>조기진통 감지 및 스트레스 완화</title>

        {# manifest.json 연결 #}
        <link rel="manifest" href="{% static 'manifest.json' %}" type="application/manifest+json">

        {# ios icon #}
        <link rel="apple-touch-icon" sizes="57x57" href="{% static 'icons/apple-icon-57x57.png' %}">
        <link rel="apple-touch-icon" sizes="60x60" href="{% static 'icons/apple-icon-60x60.png' %}">
        <link rel="apple-touch-icon" sizes="72x72" href="{% static 'icons/apple-icon-72x72.png' %}">
        <link rel="apple-touch-icon" sizes="76x76" href="{% static 'icons/apple-icon-76x76.png' %}">
        <link rel="apple-touch-icon" sizes="114x114" href="{% static 'icons/apple-icon-114x114.png' %}">
        <link rel="apple-touch-icon" sizes="120x120" href="{% static 'icons/apple-icon-120x120.png' %}">
        <link rel="apple-touch-icon" sizes="144x144" href="{% static 'icons/apple-icon-144x144.png' %}">
        <link rel="apple-touch-icon" sizes="152x152" href="{% static 'icons/apple-icon-152x152.png' %}">
        <link rel="apple-touch-icon" sizes="180x180" href="{% static 'icons/apple-icon-180x180.png' %}">

        {# android icons #}
        <link rel="icon" type="image/png" sizes="192x192"  href="{% static 'icons/android-icon-192x192.png' %}">
        <link rel="icon" type="image/png" sizes="32x32" href="{% static 'icons/favicon-32x32.png' %}">
        <link rel="icon" type="image/png" sizes="96x96" href="{% static 'icons/favicon-96x96.png' %}">
        <link rel="icon" type="image/png" sizes="16x16" href="{% static 'icons/favicon-16x16.png' %}">

        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
        <meta name="theme-color" content="#ffffff">
    </head>

    <body>
        {% include 'header.html' %}

        <body>
            {% block content %}
            <div class="container py-5">
            <div class="p-5 mb-4 bg-body-tertiary rounded-3 text-center">

                <img src="{% static 'IC_LOGO.png' %}" width="300" height="400" alt="중견연구 아이콘" />
                <h1 class="display-5 fst_italic" style="margin-top: 2rem;">소개</h1>
                <p class="lead my-3" style="font-size: 1.5rem;">
                    본 사이트는 임부의 조기진통 의심 증상과 비전형적 이상징후와 관련요인을 일상생활 속에서 상시 모니터링하고, 관리가 필요한 임부가 가정이나 직장에서도 서비스를 제공받을 수 있도록 하는 통합관리 앱입니다.


                <p class="lead my-3" style="font-size: 2rem;">
                    <p class="lead my-3" style="font-size: 2rem;">


                <div class="lh-1 fw-light text-body-secondary" style="margin-top: 5rem; font-size: 1.5rem;">
                    [설문조사] 탭에서 각각의 설문을 시행하면 증상에 맞는 관리 가이드를 얻을 수 있습니다.
                </div>
                <a href="{% url 'survey:survey-list' %}" class="btn btn-lg btn-dark mt-4">
                    설문조사하러 가기
                </a>
            </div>
            </div>



            {% endblock content %}
        </body>

        <div class="container">
            {% include 'footer.html' %}
        </div>

        {# service-worker #}
        <script>
            if ('serviceWorker' in navigator) {
                navigator.serviceWorker.register("{% static 'service-worker.js' %}")
                .then(reg => console.log('SW registered:', reg))
                .catch(err => console.error('SW registration failed:', err));
            }
        </script>

    </body>

</html>